.nkcustomcalendar {
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-color: #ddd;
}
.nkcustompicker {
  height: 39px;
  border-radius: 8px !important;
  border-color: #ddd !important;
}

.arialabelnk {
  background-color: burlywood;
}
